.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 12px;
  padding: 12px 0 12px 50px;
  &.selected {
    background: #f3f6f9 0% 0% no-repeat padding-box;
    border-radius: 4px 0px 0px 4px;
  }
  .star {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    background: transparent url("../../image/star-not-filled.svg") 0% 0%
      no-repeat padding-box;
    &.selected {
      background: transparent url("../../image/star-filled.svg") 0% 0% no-repeat
        padding-box;
    }
  }
  .labelContainer {
    margin-left: 10px;
    flex: 1 0;
    .label {
      font: normal normal normal 14px/17px Lato;
      letter-spacing: 0px;
      color: #231f20;
    }
    .tag {
      background: #e8e8e8 0% 0% no-repeat padding-box;
      border: 1px dashed #66676b5a;
      border-radius: 9px;
      padding: 0 7px;
      font: normal normal normal 10px/18px Lato;
      letter-spacing: -0.03px;
      color: #66676b;
      width: min-content;
      white-space: nowrap;
      margin-top: 8px;
    }
  }
  .unique,
  .populated {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    flex: 0 0 50px;
    height: 40px;
    .secondaryLabel {
      font: normal normal normal 10px/12px Lato;
      letter-spacing: 0px;
      color: #949494;
      min-height: 12px;
    }
    .populatedMetric,
    .uniqueMetric {
      flex: 1;
      &.indicator {
        background: #e8e8e8 0% 0% no-repeat padding-box;
        border-radius: 4px;
        width: min-content;
        margin-top: 10px;
        font: normal normal normal 10px/18px Lato;
        letter-spacing: -0.03px;
        color: #231f20;
        padding: 0 7px;
      }
      &.green {
        background: #b1e579 0% 0% no-repeat padding-box;
      }
      &.red {
        background: #f9849d 0% 0% no-repeat padding-box;
      }
    }
  }
}
