.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 14px 12px 14px 8px;
  .checkbox {
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
    background: transparent url("../../image/checkbox.svg") 0% 0% no-repeat
      padding-box;
    &.selected {
      background: transparent url("../../image/checkbox-selected.svg") 0% 0%
        no-repeat padding-box;
    }
  }
  .star {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    background: transparent url("../../image/star-not-filled.svg") 0% 0%
      no-repeat padding-box;
    &.selected {
      background: transparent url("../../image/star-filled.svg") 0% 0% no-repeat
        padding-box;
    }
  }
  .detail {
    margin-left: 10px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    .header {
      font: normal normal normal 16px/19px Lato;
      letter-spacing: 0px;
      color: #231f20;
    }
    .match {
      font: normal normal normal 12px/15px Lato;
      letter-spacing: 0px;
      color: #707070;
    }
    .indicator {
      display: flex;
      flex-direction: row;
      background: #e8e8e8 0% 0% no-repeat padding-box;
      padding: 5px 12px;
      width: 80px;
      border-radius: 4px;
      margin-top: 5px;
      justify-content: space-between;
      font: normal normal normal 10px/18px Lato;
      letter-spacing: -0.03px;
      color: #66676b;
      .subIndicator {
        text-align: center;
        width: 22px;
        height: 18px;
        background: #dbdbdb 0% 0% no-repeat padding-box;
        border-radius: 4px;
        font: normal normal bold 10px/18px Lato;
        letter-spacing: -0.03px;
        color: #66676b;
      }
    }
  }
  .expand {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent url("../../image/ic-expand-more.svg") 0% 0%
      no-repeat padding-box;
  }
}
