@import "../../styles/color.scss";

.checkbox {
    display: flex;
    align-items: center;

    .checkboxInput {
        width: 12px;
        height: 12px;
        border-radius: 4px;
        cursor: pointer;
    }

    .checkboxLabel {
        font-size: .875em;
        letter-spacing: 0.13px;
        color: $balck;
        opacity: 1;
        margin-left: 8px;
        cursor: pointer;
    }
}