*{

    .app-header{
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: calc(50% - 45px) 90px calc(50% - 45px);
        >div{
            display: flex;
            align-items: center;
            height: 100%;
        }
        .userName{
            margin-left: 10px;
            padding-left: 10px;
            border-left: 2px solid #231F20;
            height: 22px;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 24px;
            // font: normal normal bold 20px/24px Lato;
            letter-spacing: 0px;
        }
        .iconsDiv{
            
        }
        .actionAndUser{
            justify-content: flex-end;
            .assistiveMode{
                height: 100%;
                display: flex;
                align-items: center;
                >label{
                    margin-right: 10px;
                    font-weight: normal;
                    font-size: .875rem;
                    // font: normal normal normal 14px/18px Lato;
                    letter-spacing: -0.04px;
                }
            }
            .communityInfo{
                height: 100%;
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: .875rem;
                letter-spacing: 0px;
                color: $primary_color;
                opacity: 1;
                margin-left: 20px;
            }
            .notifcations{
                height: 100%;
                display: flex;
                margin-left: 20px;
                align-items: center;
                .notifactionIcon{
                    background: url("../image/notification.svg") 0% 0% no-repeat padding-box;
                    display: block;
                    width: 26px;
                    height: 29px;
                    position: relative;
                    cursor: pointer;    
                    &::after{
                        content: "";
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        border: 2px solid $white;
                        background-color: $red;
                        border-radius: 50%;
                        right: 0px;
                        top: 2px;
                        box-sizing: border-box;
                    }
                }
            }
            .userIcon{
                width: 40px;
                height: 40px;
                margin-left: 20px;
                position: relative;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border: 2px solid $white;
                    background-color: $green;
                    border-radius: 50%;
                    left: 30px;
                    bottom: 2px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .appSubHeader{
        .reviewHeatMap{
            display: grid;
            height: 40px;
            grid-template-columns: auto 166px;
            margin-top: 30px;
            .information{
                display: grid;
                >span{
                    &:first-child{
                        font-weight: normal;
                        font-size: .875rem;
                        letter-spacing: 0px;
                        color: $gray;
                        opacity: 1;
                    }
                    &:last-child{
                        font-weight: bold;
                        font-size: 1.25rem;
                        // font: normal normal bold 20px/24px Lato;
                        letter-spacing: 0px;
                        color: $black;
                        text-transform: capitalize;
                        opacity: 1;
                    }
                }
            }
            .reviewHeatMapButton{
                background-color: $primary_color;
                color: $white;
                font-weight: normal;
                font-size: .875rem;
                letter-spacing: 0.7px;
                text-transform: uppercase;
                opacity: 1;
                border-radius: 4px;
                border: 1px solid $primary_color;
                cursor: pointer;
            }
        }
        .prouctDetails{
            height: 24px;
            margin-top: 30px;
            .productNameText{
                font-weight: normal;
                font-size: 1.25rem;
                // font: normal normal normal 20px/24px Lato;
                letter-spacing: 0px;
                color: $gray;
            }
            .productName{
                font-weight: bold;
                font-size: 1.25rem;
                letter-spacing: 0px;
                color: $black;
            }
        }
        .serachAndFilter{
            height: 40px;
            margin-top: 25px;
            display: flex;
            .filters{
                height: 100%;
                width: 40px;
                background-color: $smoke_white;
                border-radius: 4px;
                margin-left: 16px;
                cursor: pointer;
                .filterIcon{
                    // @include iconCommon;
                    background: url("../image/filter.svg") 50% 50% no-repeat padding-box;
                }
                &:hover {
                    background-color: $smoke_white_hover;
                }
            }
            .showPineed{
                margin-left: 16px;
            }
        }
    }
}