$balck : #231F20;
$gray: #66676B;
$light_gray: #D3D3D3;
$smoke_white : #F7F7F7;
$smoke_white_hover: #E9F1FB;
$primary_color : #034EA2;
$white : #fff;
$red : #E32A34;
$green : #368A04;
$tile_color: #F3F6F9;