// Regular
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "./color.scss";

html, #root{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
}

@import "./App.scss";
@import "./AppHeader.scss";
@import "./similarity.scss";